<a href="https://colab.research.google.com/github/vunnampragathi/690-stats-and-visu/blob/main/assignment2/data_690_session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data 690 session 2
-date: 09/09/2022

-Name: Pragathi Vunnam

In [20]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("birth years of students", years)

birth years of students 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [21]:
type(years)

str

In [22]:
type(True)

bool

In [23]:
years_list=years.split(" ")

In [24]:
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [25]:
x=["pranitha","rani","rao"]
type(x)

list

In [26]:
y=[3,9,-19,0,15,21]
type(y)

list

In [27]:
total=0
for number in y:
  total=total+number

print("sum of y:",total)

sum of y: 29

In [28]:
print("the size of the list y is:",len(y))

the size of the list y is: 6

In [29]:
print("the avg of y is:",total/len(y))

the avg of y is: 4.833333333333333

In [30]:
years_list[0]

'1/11/1997'

In [31]:
years_list.pop(0)
years_list

['1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [35]:
from datetime import date
current_year=date.today().year
print(current_year)

total=0
for birthyear in years_list:
  age=current_year -int(birthyear)
  total=total+age

print("total age is:",total)

2022
total age is: 578

In [36]:
average_age=total/len(years_list)
print("average age of class is:",average_age)

average age of class is: 26.272727272727273